## -*- coding: utf-8 -*-
<%def name="head()">Добавление нового подразделения</%def>
<%def name="title()">Добавление нового подразделения</%def>
<%inherit file="menu.html"/>
<%namespace file="fields.html" name="fields" import="*"/>

${h.form(h.url_for(controller='division', action='create'), method="post")}
<table>
${fields.body()}
<tr class="field">
<td class="label" valign="top"><label></label></td>
<td class="field" colspan="2" valign="top">${h.submit(value=u"Создать", name='submit')}</td>
</tr>
</table>
${h.end_form()}
