## -*- coding: utf-8 -*-
<%def name="head()">Редактирование подразделения</%def>
<%def name="title()">Редактирование подразделения</%def>
<%inherit file="menu.html"/>
<%namespace file="fields.html" name="fields" import="*"/>

${h.form_start(h.url_for(controller='division', action='save', id=request.urlvars['id']), method="post")}
${fields.body()}
${h.field(field=h.submit(value=u"Сохранить", name='submit'))}
${h.form_end()}

<h3>Сотрудники</h3>
${h.form_start(h.url_for(controller='division', action='changeusers', id=request.urlvars['id']), method="post")}
${h.field(
    h.literal(u"Выберите сотрудников<br/><small>Используйте CTRL для можественного выделения</small>"),
    h.select(name="users", selected_values=c.membersid, options=c.users, multiple=True, size="10")   
)}
${h.field(field=h.submit(value=u"Сохранить", name='submit'))}
${h.form_end()}
<%doc>
<form action="${h.url_for(controller='division', action='insertusers', id=request.urlvars['id'])}" method="post">
<div>${h.select(name="users", selected_values=c.membersid, options=c.users, multiple=True)}</div>
<div>${h.submit(value=u"Сохранить", name='submit')}</div>
</form>
</%doc>
