<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Название</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='title')}</td></tr>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Месторасположение</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='address')}</td></tr>
<tr class="field">
<td class="label" valign="top"><label>Описание</label></td>
<td class="field" colspan="2" valign="top">${h.textarea(name='description', cols="40", rows="7")}</td></tr>
<tr class="field">
<td class="label" valign="top"><label>E-mail</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='email')}</td></tr>
<tr class="field">
<td class="label" valign="top"><label>Телефон</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='phone')}</td></tr>
