## -*- coding: utf-8 -*-
<%def name="head()">${c.division.title}</%def>\
<%def name="title()">${c.division.title}</%def>\
<%inherit file="menu.html"/>\
\
${self.actmenu()}
\
<h3>Информация о подразделении</h3>
<dl>
<dt>Название</dt><dd>${c.division.title}</dd>
<dt>Адрес</dt><dd>${c.division.address}</dd>
% if c.division.phone:
<dt>Телефон</dt><dd>${c.division.phone}</dd>
% endif
% if c.division.email:
<dt>E-mail</dt><dd>${h.link_to(c.division.email, "mailto:"+c.division.email)}</dd>
% endif
% if c.division.responsible:
<dt>Ответственный</dt>\
% for person in c.division.responsible:
<dd>${h.link_to(h.name(person), h.url_for(controller="usercontrol", action="view", id=person.id))}</dd>
% endfor
% endif
% if c.division.chief:
<dt>Начальник</dt>\
% for person in c.division.chief:
<dd>${h.link_to(h.name(person), h.url_for(controller="usercontrol", action="view", id=person.id))}</dd>
% endfor
% endif
</dl>

<h3>Сотрудники</h3>
% if c.division.people:
<table id="division_personnel" class="tablesorter">
<thead>
<tr><th rowspan="3">Сотрудник</th><th colspan="10">Выполнено заявок</th></tr>
<tr><th colspan="2">за 30 дней</th><th colspan="2">за прошлую неделю</th><th colspan="2">за эту неделю</th><th colspan="2">всего</th><th colspan="2">эффективность</th></tr>
<tr>
% for i in [1,2,3,4]:
<th>Кол-во</th><th>Трудоёмк.</th>
% endfor
<th>Реактивность</th>
</tr>
</thead>
<tbody>
% for user in c.personnel:
<tr>
<td>${h.link_to(h.name(user), h.url_for(controller="usercontrol", action="view", id=user.id))}</td>
##<td>${(c.today.get(user.id) or [0,0])[0]}</td>
##<td>${(c.today.get(user.id) or [0,0])[1]}</td>
<td>${(c.lastmonth.get(user.id) or [0,0])[0]}</td>
<td>${(c.lastmonth.get(user.id) or [0,0])[1]}</td>
<td>${(c.prevweek.get(user.id) or [0,0])[0]}</td>
<td>${(c.prevweek.get(user.id) or [0,0])[1]}</td>
<td>${(c.thisweek.get(user.id) or [0,0])[0]}</td>
<td>${(c.thisweek.get(user.id) or [0,0])[1]}</td>
<td>${(c.total.get(user.id) or [0,0])[0]}</td>
<td>${(c.total.get(user.id) or [0,0])[1]}</td>
##Реактивность и тормознутость
<td>${c.reacts.get(user.id) or ''}</td>
</tr>
% endfor
</tbody>
</table>
% else:
<p>В этом подразделении нет пользователей.</p>
% endif

<script type="text/javascript" src="/jquery.tablesorter.min.js"></script>
<script type="text/javascript"> $(document).ready(function() { $("#division_personnel").tablesorter(); });</script>

<h3>График выполнения заявок</h3>
% if c.division.people:
<p>Трудоёмкость (в человеко-часах) заявок, отмеченных выполненными, за последние 30 дней. Выходные дни пропущены.</p>
<div class="perf_graph_cont"></div>
% for user in c.personnel:
  % if c.lastmonth.get(user.id): # Have this user performed any orders in last month?
    <div id="perf_graph_${user.id}" class="perf_graph"></div>
  % endif
%endfor
</div>
<table id="perf_graph_data">
  <thead>
  <tr><th rowspan="2">Сотрудник</th><th colspan="${len(c.dates)}">Выполнено заявок за дату</th></tr>
  <tr>
    % for day in c.dates:
      <th class="date">${day.month}.${day.day}</th>
    % endfor
  </tr>
  </thead>
  <tbody>
  % for user_idx, user in enumerate(c.personnel):
    % if c.lastmonth.get(user.id): # Have this user performed any orders in last month?
      <tr>
        <td>${h.name(user)}</td>
        % for i,day in enumerate(c.dates):
          <td>${c.graph_data[user_idx][i]}</td>
        % endfor
      </tr>
    % endif
  % endfor
  </tbody>
</table>
% else:
<p>В этом подразделении нет пользователей.</p>
% endif

<h3>Последние созданные заявки</h3>
% if c.lastorders:
${self.orderstable(c.lastorders)}
% else:
<p>Это подразделение не создало ни одной заявки</p>
% endif
\
## Меню действий!
<%def name="actmenu()">\
<div id="actions">
<ul>
% if (h.have_role('admin') or (session.get('division')==c.division.id and (session.get('chief') or session.get('responsible')))):
<li class="edit_link">${h.link_to(u'Редактировать', h.url_for(controller='division', action='edit', id=c.division.id), class_="edit_link")}</li>
% endif
\
% if h.have_role('admin'):
<li class="delete_link">${h.link_to(u'Удалить', h.url_for(controller='division', action='delete', id=c.division.id), class_="delete_link")}</li>
% endif
</ul>\
</div>
</%def>
