# Python Pylons project GIT Ignore

# PYLONS STRUCTURE
/data
/build
/dist
/*.egg-info

# Pylons application configs
/*.ini

# Python pre-compiled
*.pyc
*.pyo

# log-files
*.log

# SQLite database
*.db

# PID-files, created by running application
*.pid

# WSGI (for running, may be?)
*.wsgi

# Генерируемые Windows гадости
Thumbs.db
desktop.ini

# Mac-specific things (thanks to Michael Aaron Safyan)
.DS_Store

# Редактируемые файлы и временные файлы
*~
*.bak
*.tmp

# other
*_tmpl

