## -*- coding: utf-8 -*-
<%def name="head()">Редактирование пользователя</%def>
<%def name="title()">Редактирование пользователя</%def>
<%inherit file="menu.html"/>
<%namespace file="fields.html" name="fields" import="*"/>

${h.form(h.url_for(controller='usercontrol', action='save', id=request.urlvars['id']), method="post")}
<table>
${fields.body()}
<tr class="field">
<td class="label" valign="top"><label></label></td>
<td class="field" colspan="2" valign="top">${h.submit(value=u"Сохранить", name='submit')}</td>
</tr>
</table>
${h.end_form()}

<h3>Смена пароля</h3>
${h.form(h.url_for(controller='usercontrol', action='changepassword', id=request.urlvars['id']), method="post")}
<table>
% if not h.have_role('admin'):
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Пароль</label></td>
<td class="field" colspan="2" valign="top">${h.password(name='oldpass')}</td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Для принятия изменений необходимо, чтобы вы ввели свой пароль</td>
</tr>
% endif
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Новый пароль</label></td>
<td class="field" colspan="2" valign="top">${h.password(name='newpass')}</td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Введите новый пароль, если хотите его изменить</td>
</tr>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Новый пароль ещё раз</label></td>
<td class="field" colspan="2" valign="top">${h.password(name='chkpass')}</td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">И введите его ещё раз, чтобы избежать ошибок.</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label></label></td>
<td class="field" colspan="2" valign="top">${h.submit(value=u"Сохранить", name='submit')}</td>
</tr>
</table>
${h.end_form()}
