<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Фамилия</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='surname')}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Имя</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='name')}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Отчество</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='patronymic')}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>E-mail</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='email')}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Контактный телефон</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='phone')}</td>
</tr>
## Подчинённые не могут менять барина или становиться им. Вот вам и Юрьев день, робятки )))
% if session.has_key('admin') and session['admin']:
<tr class="field">
<td class="label" valign="top"><label>Подразделение</label></td>
<td class="field" colspan="2" valign="top">${h.select(name="div_id", selected_values=c.curdiv, options=c.divisions)}</td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Выберите подразделение, в котором будет работать пользователь.</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Может создавать заявки</label></td>
<td class="field" colspan="2" valign="top"><input type="checkbox" id="creator" name="creator" /></td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Может ли создавать новые заявки?</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Может выполнять заявки</label></td>
<td class="field" colspan="2" valign="top"><input type="checkbox" id="performer" name="performer" /></td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Может ли выполнять назначенные ему заявки?</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Может назначать заявки</label></td>
<td class="field" colspan="2" valign="top"><input type="checkbox" id="appointer" name="appointer" /></td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Может ли назначать заявки исполнителям?</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Ответственный</label></td>
<td class="field" colspan="2" valign="top"><input type="checkbox" id="responsible" name="responsible" /></td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Является ли ответственным этого подразделения по заявкам?</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Начальник</label></td>
<td class="field" colspan="2" valign="top"><input type="checkbox" id="chief" name="chief" /></td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Является ли начальником этого подразделения?</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Администратор</label></td>
<td class="field" colspan="2" valign="top"><input type="checkbox" id="admin" name="admin" /></td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Может ли администрировать всё?</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Оператор</label></td>
<td class="field" colspan="2" valign="top"><input type="checkbox" id="operator" name="operator" /></td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Может ли создавать заявки и претензии от имени других пользователей?</td>
</tr>
% endif
