## -*- coding: utf-8 -*-
<%def name="head()">Вход</%def>
<%def name="title()">Вход</%def>
<%inherit file="menu.html"/>

${h.form(h.url_for(controller='usercontrol', action='dologin'), method="post")}
<table>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Логин</label></td>
<td class="field" colspan="2" valign="top">${h.text(name='login', maxlengt="32")}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Пароль</label></td>
<td class="field" colspan="2" valign="top">${h.password(name='password', maxlength="32")}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label></label></td>
<td class="field" colspan="2" valign="top">${h.submit(value=u"Войти", name='submit')}</td>
</tr>
</table>
${h.end_form()}
