## -*- coding: utf-8 -*-
<%def name="title()">${next.title()} :: Пользователи</%def>
<%inherit file="/base.html"/>
<%def name="submenu()">
<ul id="sectionmenu">
% if h.have_role('admin'):
<li>${h.link(h.url(controller="usercontrol", action='add'), text=u"Создать", id_="smenu_create")}</li>
% endif
<li>${h.link(h.url(controller="usercontrol", action='list', show=None, id=None), text=u"Все")}</li>
<li>${h.link(h.url(controller="usercontrol", action='list', show="customers"), text=u"Заказчики")}</li>
<li>${h.link(h.url(controller="usercontrol", action='list', show="performers"), text=u"Исполнители")}</li>
<li>${h.link(h.url(controller="usercontrol", action='list', show="appointers"), text=u"Назначители")}</li>
<li>${h.link(h.url(controller="usercontrol", action='list', show="responsibles"), text=u"Ответственные")}</li>
<li>${h.link(h.url(controller="usercontrol", action='list', show="chiefs"), text=u"Начальники")}</li>
<li>${h.link(h.url(controller="usercontrol", action='list', show="administrators"), text=u"Администраторы")}</li>
<li>${h.link(h.url(controller="usercontrol", action='list', show="operators"), text=u"Операторы")}</li>
</ul>
</%def>
${next.body()}
