## -*- coding: utf-8 -*-
<%def name="head()">Настройки пользователя</%def>\
<%def name="title()">Настройки пользователя</%def>\
<%inherit file="menu.html"/>\

## DO IT FOR THE LULZ
<%
import datetime
weekend = datetime.datetime.weekday(datetime.datetime.today()) in [5,6]
%>

% if weekend:
<div id="weekend" style="font-size: 150%; margin: 2em;">
У ваших настроек сегодня выходной. А у вас?<br/><br/>
<button type="button" onclick="window.close()" style="font-size: 90%">А у меня тоже!</button> &nbsp; <button type="button" onclick="$('#work').show(); $('#weekend').remove()" style="font-size: 90%">Нет &mdash; я пашу как вол!</button>
</div>
<div id="work" style="display: none;">
% endif
${h.form(h.url_for(controller='usercontrol', action='saveprefs', id=None), method="post")}
<table>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Предпочитаемая надкатегория</label></td>
<td class="field" colspan="2" valign="top">${h.select(name="upcat", selected_values=(c.user.preferences or dict()).get('upcat', None), options=c.upcats)}</td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Выберите тип заявок, который будет по умолчанию отображаться на главной странице и в списке заявок.</td>
</tr>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Количество заявок на страницу</label></td>
<td class="field" colspan="2" valign="top">${h.text(name="ordersinpage", value=(c.user.preferences or dict()).get('ordersinpage', 15))}</td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Выберите количество заявок, которое будет отображаться на одной странице в списке заявок.</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label></label></td>
<td class="field" colspan="2" valign="top">${h.submit(value=u"Сохранить", name='submit')}</td>
</tr>
</table>
${h.end_form()}
% if weekend:
</div>
% endif
