## -*- coding: utf-8 -*-
<%def name="head()">Переключение пользователя</%def>\
<%def name="title()">Переключение пользователя</%def>\
<%inherit file="menu.html"/>\

${h.form(h.url_for(controller='usercontrol', action='doswitch', id=None), method="post")}
<table>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Пользователь</label></td>
<td class="field" colspan="2" valign="top">${h.select(name="user_id", selected_values=c.selected, options=c.users)}</td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Выберите пользователя, от имени которого будете действовать.</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label></label></td>
<td class="field" colspan="2" valign="top">${h.submit(value=u"Сменить", name='submit')}</td>
</tr>
</table>
${h.end_form()}
