## -*- coding: utf-8 -*-
<%def name="head()">${h.name(c.person)}</%def>\
<%def name="title()">${h.name(c.person)}</%def>\
<%inherit file="menu.html"/>\

${self.actmenu()}

<h3>Информация о пользователе</h3>
<dl>
% if session.has_key('admin') and session['admin']:
<dt>Логин</dt><dd>${c.person.login}</dd>
% endif
<dt>Фамилия</dt><dd>${c.person.surname}</dd>
<dt>Имя</dt><dd>${c.person.name}</dd>
<dt>Отчество</dt><dd>${c.person.patronymic}</dd>
% if c.person.division:
<dt>Подразделение</dt><dd>${h.link_to(c.person.division.title, h.url_for(controller="division", action="view", id=c.person.division.id))} \
% if c.person.chief:
 (Начальник)\
% endif
% if c.person.responsible:
 (Ответственный)\
% endif
</dd>
% endif
% if c.person.email:
<dt>E-mail</dt><dd>${h.link_to(c.person.email, ("mailto:"+c.person.email))}</dd>
% endif
% if c.person.phone:
<dt>Контактный телефон</dt><dd>${c.person.phone}</dd>
% endif
<dt>Может</dt>\
% if c.person.creator:
<dd>Создавать заявки</dd>\
% endif
% if c.person.performer:
<dd>Исполнять заявки</dd>\
% endif
% if c.person.appointer:
<dd>Забирать заявки на исполнение и назначать исполнителей</dd>\
% endif
% if c.person.admin:
<dd>Администрировать систему заявок</dd>\
% endif
% if c.person.operator:
<dd>Создавать заявки и претензии от имени других пользователей</dd>\
% endif
</dl>
\
<h3>Просмотреть заявки, относящиеся к пользователю</h3>
<form action="${h.url_for(controller='usercontrol', action='orders', id=c.person.id)}" method="get">
${h.select(name="status", selected_values=3, options=[[2, u"Принятые"], [3, u"Выполненные"]])} заявки
с <input type="date" name="start_date" id="start_date" value="${c.today.isoformat()}" />
по <input type="date" name="stop_date" id="stop_date" value="${c.today.isoformat()}" />
<button type="submit">Показать</button>
</form>
\
## Меню действий!
<%def name="actmenu()">\
<div id="actions">
<ul>
% if ((session.has_key('admin') and session['admin']) or (session.has_key('id') and ((session['id'] == c.person.id)))):
<li class="edit_link">${h.link_to(u'Редактировать', h.url_for(controller='usercontrol', action='edit', id=c.person.id), class_="edit_link")}</li>
% endif
\
% if (session.has_key('admin') and session['admin']):
<li class="delete_link">${h.link_to(u'Удалить', h.url_for(controller='usercontrol', action='delete', id=c.person.id), class_="delete_link")}</li>
% endif
</ul>\
</div>
</%def>
