## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> ${next.title()} :: Диспетчер заявок АмГУ</title>
    <link rel="stylesheet" href="/orderman.css" title="Дизайн нового сайта АмГУ" type="text/css" media="all" />
    <link rel="stylesheet" href="/print.css" type="text/css" media="print" />
    <script type="text/javascript" src="/sort.js"></script>
    <script type="text/javascript" src="/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/jquery.timers-1.1.2.js"></script>
    <script type="text/javascript" src="/orderman.js"></script>
    <!--[if IE]><script type="text/javascript" src="/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    
    <link rel="stylesheet" href="/jquery.jqplot.min.css" type="text/css" />
</head>
<body>
<div id="nonfooter">
    <div id="top"></div>
    ${userloginmenu()}\
    <div id="headerwrap">
	<div id="header">
		<h1>Диспетчер заявок АмГУ</h1>
		<h2>${self.head()}</h2>
${self.menu()}\
	</div>
	</div>
    ${self.submenu()}\
    ${self.flash()}\
<div id="content">
    ${next.body()}\
</div>
</div>
<div id="footer">
${self.footer()}\
</div>
</body>
</html>
\
<%def name="menu()"><%include file="/menu.html"/></%def>
\
<%def name="flash()">
    % if session.has_key('flash'):
    <div id="flash"><p>${session.get('flash')}</p></div>
    <%
        del session['flash']
        session.save()
    %>
    % endif
</%def>
\
<%def name="userloginmenu()">
    <div id="userloginmenu"><p>Здравствуйте, \
% if session.has_key('user'):
    <strong>${h.link(controller='usercontrol', action='view', id=session.get('id'), text=session.get('name'))}</strong> | \
    ${h.link(controller='usercontrol', action='preferences', text=u"Настройки")} | \
    % if h.have_role("operator"):
<a href="${h.url_for(controller='usercontrol', action='switch', id=None)}">Переключиться</a> | \
    % endif
    % if session.get("operator_id") and session.get("operator_id") != session.get("id"):
<a href="${h.url_for(controller='usercontrol', action='switchback', id=None)}">Вернуться</a>\
    % else:
<a href="${h.url_for(controller='usercontrol', action='logout', id=None)}">Выйти</a>\
    % endif
% else:
Гость | ${h.link(controller='usercontrol', action='login', id=None, text=u'Войти')}\
% endif
</p></div>
</%def>
\
<%def name="footer()">\
<div id="devs">
<p>По всем вопросам работы системы обращаться по адресу <a href="mailto:andrey.novikov@amursu.ru">andrey.novikov@amursu.ru</a></p>
<p>Разработка и сопровождение: ${h.link(controller='division', action='view', id=112, text=u"Отдел программного и техобеспечения")}, <abbr title="Амурский государственный университет">АмГУ</abbr></p>
</div>
<p><a href="http://www.amursu.ru/"><abbr title="Федеральное государственное бюджетное общеобразовательное учреждение высшего профессионального образования">ФГБОУ ВПО</abbr> Амурский Государственный Университет</a>, 2009&mdash;2012</p>
<p><a href="#top">Перейти на верх страницы. &uArr;</a></p>
</%def>\
\
<%def name="orderstable(orders)">\
% if len(orders):
    <table class="sort">
    <col class="order_id"/>
    <col class="order_category"/>
    <col class="order_description"/>
    <col class="order_customer"/>
    <col class="order_created"/>
    <col class="order_status"/>
    <col class="order_workload"/>
    <col class="order_action"/>
    <thead>
        <tr><th>№</th><th>Задача</th><th>Доп. информация</th><th>Подразделение</th><th>Время подачи</th><th>Статус</th><th>Место выполнения</th><th>Действие</th></tr>
    </thead>
    <tbody>
% for i,order in enumerate(orders):
<%
klass = ""
if order.urgent and not order.doneAt: klass = "urgent"
title = order.title.split("\n")[0]
if len(title)>32:
   title = title[:32] + u"…"
%>
        ${h.tr(i, klass)}<td>${order.id}</td><td>${h.link(controller="order", action='view', id=order.id, text=order.upper_category.title + ": " + order.work.title + h.literal(" &mdash; ") + order.category.title)}</td><td>${h.link_to(title or h.literal(" "), h.url_for(controller='order', action='view', id=order.id), title=order.title)}</td><td>${order.customer.title}</td><td>${order.created.strftime('%Y.%m.%d %H:%M')}</td><td>${order.status.title}</td><td>${order.place}</td><td>${h.orderactlink(order)}</td></tr>
% endfor
    </tbody>
    </table>
% else:
    <p>Заявок нет</p>
% endif
</%def>
