## -*- coding: utf-8 -*-
<%def name="head()">Смена статуса заявки</%def>
<%def name="title()">Смена статуса заявки</%def>
<%inherit file="/orders/menu.html"/>

<h2>Заявка № ${c.order.id}</h2>
<p>${c.order.work.title} &mdash; ${c.order.category.title}: ${c.order.title}</p>
<p>Заявка была принята ${h.humandatetime(c.order.created)} (${h.ago(c.order.created)}). ${h.link_to(u"Подробнее >>", h.url_for(controller="order", action="view", id=c.order.id))}.</p>
${self.form()}
<%def name="form()">
<form:error name="*">
${h.form_start(h.url_for(controller='action', action='act', id=request.urlvars['id']), method="post", id="chooseact")}
% if h.have_role('admin'):
${h.field(
    u"Подразделение",
    h.select(name="div_id", selected_values=c.curdiv, options=c.divisions),
    required=True,
)}
% else:

##<input type="hidden" name="div_id" id="div_id" value="${session.get('division')}" />
% endif
${h.field(
    u"Новый статус",
    h.select(name="status", selected_values=c.curstate, options=c.statuses),
    required=True,
)}
${h.field(
    u"Исполнители",
    h.literal('<div id="perfs">')+h.checkbox_group('performers', selected_values=c.curperfs, align="vert", options=c.performers)+h.literal('</div>')
)}
${h.field(
    u"Комментарий",
    h.textarea(name="description", maxlen=250, cols=80, rows=5)
)}
${h.field(field=h.submit(value=u"Сохранить", name='submit'))}
${h.form_end()}
</%def>
<h2>История работы с заявкой</h2>
% if c.actions:
<table>
<tr><th>Время</th><th>Действие</th><th>Подразделение</th><th>Исполнитель</th></tr>
% for entry in c.actions:
<tr>\
<td>${entry.created.strftime('%Y.%m.%d %H:%M')}</td>\
<td>${entry.status.title}</td>\
<td>${entry.division.title}</td>\
<td>${", ".join([h.name(person) for person in entry.performers])}</td>\
</tr>
% endfor
</table>
% else:
<p>Над заявкой ещё не производилось действий</p>
% endif
