## -*- coding: utf-8 -*-
<%def name="head()">Смена статуса заявки</%def>
<%def name="title()">Смена статуса заявки</%def>
<%inherit file="/orders/menu.html"/>

<h2>Заявка № ${c.order.id}</h2>
<p>${c.order.work.title} &mdash; ${c.order.category.title}: ${c.order.title}</p>
<p>Заявка была принята ${h.humandatetime(c.order.created)} (${h.ago(c.order.created)}). ${h.link_to(u"Подробнее >>", h.url_for(controller="order", action="view", id=c.order.id))}.</p>
<form:error name="*">
${h.form(h.url_for(controller='action', action='act', id=request.urlvars['id']), method="post", id="chooseact")}
<table>
% if h.have_role('admin'):
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Подразделение</label></td>
<td class="field" colspan="2" valign="top">${h.select(name="div_id", selected_values=c.curdiv, options=c.divisions)}</td>
</tr>
% endif
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Новый статус</label></td>
<td class="field" colspan="2" valign="top">${h.select(name="status", selected_values=c.curstate, options=c.statuses)}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Исполнители</label></td>
<td class="field" colspan="2" valign="top"><div id="perfs">
<table>
<tr><th>Исполнитель</th><th>Общая трудоёмкость за заявку</th></tr>
% for performer in c.performers:
<tr><td><%
ap_with_wl = filter(lambda p: p.person_id == performer[0], c.order.order_performers)
workload = ap_with_wl[0].workload if len(ap_with_wl) else 0.00
performing = performer[0] in map(lambda x: x.person_id, filter(lambda x: x.current, c.order.order_performers))
disabled = 'disabled="disabled"' if not performing else ""
%>
${h.checkbox('performers', value=performer[0], checked=performing, label=performer[1])}
</td><td>
<input maxlength="5" name="workloads" min="${workload}" max="999.99" step="0.1" type="number" value="${workload}" ${disabled} />
</td></tr>
% endfor
</table>
</div>
</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Комментарий</label></td>
<td class="field" colspan="2" valign="top">${h.textarea(name="description", maxlen=250, cols=80, rows=5)}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Инвентарные номера</label></td>
<td class="field" colspan="2" valign="top"><div id="invs">
% for item in c.order.inventories:
<input maxlength="12" name="inventories" type="text" value="${unicode(item.id)}" /><button type="button" class="removeinv">Удалить</button><br />
% endfor
<button type="button" id="addinv">Добавить инвентарный номер</button>
</div></td>
</tr>
<tr class="field">
<td class="label" valign="top"><label></label></td>
<td class="field" colspan="2" valign="top">${h.submit(value=u"Сохранить", name='submit')}
</td>
</tr>
</table>
${h.end_form()}
<h2>История работы с заявкой</h2>
% if c.actions:
<table>
<tr><th>Время</th><th>Действие</th><th>Подразделение</th><th>Исполнитель</th><th>Комментарий</th></tr>
% for entry in c.actions:
<tr>\
<td>${entry.created.strftime('%Y.%m.%d %H:%M')}</td>\
<td>${entry.status.title}</td>\
<td>${entry.division.title}</td>\
<td>${", ".join(["%s (%s)"%(h.name(ap.person), ap.workload) for ap in entry.action_performers])}</td>\
<td>${entry.description}</td>\
</tr>
% endfor
</table>
% else:
<p>Над заявкой ещё не производилось действий</p>
% endif
