## -*- coding: utf-8 -*-
<%def name="head()">Редактирование заявки</%def>
<%def name="title()">Редактирование заявки</%def>
<%inherit file="menu.html"/>
<%namespace file="fields.html" name="fields" import="*"/>

${h.form_start(h.url_for(controller='order', action='save', id=request.urlvars['id']), method="post", id="orderform")}
${fields.body()}
${h.field(
    u"Введите инвентарный номер",
    h.literal(u'<div id="invs">' + u"".join([u'<input id="inventories" maxlength="12" name="inventories" type="text" value="'+unicode(item.id)+u'" /> <button type="button" class="removeinv">Удалить</button><br />' for item in c.invs]) + u'<button type="button" id="addinv">Добавить инвентарный номер</button></div>'),
    required=True,
)}
${h.field(field=h.submit(value=u"Сохранить", name='submit'))}
${h.form_end()}
