## -*- coding: utf-8 -*-
<%def name="head()">Редактирование заявки</%def>
<%def name="title()">Редактирование заявки</%def>
<%inherit file="menu.html"/>
<%namespace file="fields.html" name="fields" import="*"/>

${h.form(h.url_for(controller='order', action='save', id=request.urlvars['id']), method="post", id="orderform")}
<table>
${fields.body()}
<tr class="field">
<td class="label" valign="top"><label>Введите инвентарный номер</label></td>
<td class="field" colspan="2" valign="top"><div id="invs">
% for item in c.order.inventories:
<input maxlength="12" name="inventories" type="text" value="${unicode(item.id)}" /><button type="button" class="removeinv">Удалить</button><br />
% endfor
<button type="button" id="addinv">Добавить инвентарный номер</button>
</div></td>
</tr>
<tr class="field">
<td class="label" valign="top"><label></label></td>
<td class="field" colspan="2" valign="top">${h.submit(value=u"Сохранить", name='submit')}</td>
</tr>
</table>
${h.end_form()}
