<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Выберите надкатегорию работ</label></td>
<td class="field" colspan="2" valign="top">${h.select(name="upcat_id", selected_values=c.order.upcat_id, options=c.upcategory)}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Выберите категорию работ</label></td>
<td class="field" colspan="2" valign="top">${h.select(name="cat_id", selected_values=c.order.cat_id, options=c.category)}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><span class="required">*</span><label>Выберите вид работ</label></td>
<td class="field" colspan="2" valign="top">${h.select(name="work_id", selected_values=c.order.work_id, options=c.work)}</td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Место выполнения работ</label></td>
<td class="field" colspan="2" valign="top">${h.text(name="place", maxlength="250", value=c.order.place)}</td>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Укажите здесь, где именно необходимо сделать работу в формате: <strong>корпус, кабинет, номер телефона</strong></span></td>
</tr>
<tr class="field">
<td class="label" valign="top"><label>Дополнительная информация</label></td>
<td class="field" colspan="2" valign="top">${h.textarea(name='title', content=c.order.title, cols="40", rows="7",  maxlength="500")}</td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Укажите здесь сведения, если сведений, указанных для вашего подразделения, недостаточно</span></td>
</tr>
% if h.have_role('admin') or (session.has_key('division') and h.have_role('responsible') and c.order.perf_id==session['division']):
<tr class="field">
<td class="label" valign="top"><label>Важная заявка</label></td>
<td class="field" colspan="2" valign="top">${h.checkbox(name="urgent", checked=c.order.urgent)}</td>
</tr>
<tr class="description">
<td class="label_desc" valign="top"><span class="small"></span></td>
<td class="field_desc" colspan="2" valign="top"><span class="small">Отметьте флажком заявку, если она <strong>очень срочная</strong> и <strong>очень важная</strong></span></td>
</tr>
% endif
