## -*- coding: utf-8 -*-
<%def name="head()">Заявки</%def>\
<%def name="title()">Все</%def>\
<%inherit file="menu.html"/>\
% if c.mcat and c.mwork and c.mstat:
% if c.upcat:
<form action="${h.url_for(controller='order', action='filter', upcat=c.upcat)}" method="get" id="orderfilter">
% else:
<form action="${h.url_for(controller='order', action='filter')}" method="get" id="orderfilter">
% endif
Категория: ${h.select(name="cat", selected_values=c.mcatcur, options=c.mcat)} &nbsp;
Вид работ: ${h.select(name="work", selected_values=c.mworkcur, options=c.mwork)} &nbsp;
Состояние: ${h.select(name="status", selected_values=c.mstatcur, options=c.mstat)} &nbsp;
<button type="submit">Показать</button>
</form>
% endif
<table>
<td class="ghost"><form action="${h.url_for(controller='order', action='goto')}" method="post">
<p>Перейти к заявке № <input type="text" name="id" id="id" /> <button type="submit">Перейти</button></p>
</form></td>
<td class="ghost" align="right"><form action="${h.url_for(controller='order', action='find')}" method="post">
<p>Поиск: <input type="text" name="searchvalue" /> <button type="submit">Найти</button></p>
</form></td>
</table>
% if len(c.paginator):
<p>${c.paginator.pager(u'$link_first $link_previous от $first_item до $last_item из $item_count $link_next $link_last')}</p>
${self.orderstable([order for order,urgent in c.paginator])}
<%doc><table class="orderlist">
<tr><th>№</th><th>Задача</th><th>Подразделение</th><th>Подробности</th><th>Время подачи</th><th>Статус</th><th>Действие</th></tr>
% for counter,item in enumerate(c.paginator):
    ${self.buildrow(item, counter%2)}\
% endfor
</table>
</%doc>
<p>${ c.paginator.pager('~2~') }</p>
% else:
<p>
   Заявок нет.
    <a href="${h.url_for(controller='order', action='add')}">Создать</a>.
</p>
% endif
<p>Всего заявок: ${c.ordercount}</p>

<%def name="buildrow(order,odd=True)">\
% if odd:
<tr class="odd">\
% else:
<tr class="even">\
% endif
<td>${h.link_to(order.id, h.url_for(controller='order', action='view', id=order.id, show=None))}</td>\
<td>${h.link_to(order.work.title + h.literal(" &mdash; ") + order.category.title, h.url_for(controller='order', action='view', id=order.id, show=None))}</td>\
<td>${order.customer.title}</td>\
<td>${h.link_to(order.title or h.literal("&nbsp;&mdash;"), h.url_for(controller='order', action='view', id=order.id, show=None))}</td>\
<td>${order.created.strftime('%Y.%m.%d %H:%M')}</td>\
<td>${order.status.title}</td>\
<td>${h.orderactlink(order)}</td>\
</tr>
</%def>\
