## -*- coding: utf-8 -*-
<%def name="title()">${next.title()} :: Заявки</%def>\
<%inherit file="/base.html"/>\
<%def name="submenu()">\
<ul id="sectionmenu">
% if h.have_role('creator'):
<li>${h.link2(h.url_for(controller="order", action='add', show=None, id=None, upcat=None, type=None), text=u"Создать", id_="smenu_create")}</li>
<li class="delimiter"></li>
% endif
<li>${h.link2(h.url_for(controller="order", action='list', show=None, id=None, upcat=None, type=None), text=u"Все заявки")}</li>
% for upcat in c.upcats:
<li>${h.link2(h.url_for(controller="order", action='list', show=None, id=None, upcat=upcat.url_text, type=None), text=upcat.title)}</li>
% endfor
% if h.have_role('performer'):
<li class="delimiter"></li>
<li>${h.link2(h.url_for(controller="order", action="listownorders", type="performing", show=None, id=None, upcat=None), text=u"Выполняемые мной")}</li>
% endif
% if session.has_key("last_orders_list_url") and session["last_orders_list_url"] != h.url_for():
<li class="delimiter"></li>
<li>${h.link2(session["last_orders_list_url"], text=u"Вернуться к просмотру")}</li>
% endif
</ul>
</%def>\
${next.body()}
