## -*- coding: utf-8 -*-
<%def name="head()">Взятие заявки</%def>\
<%def name="title()">Взятие заявки</%def>\
<%inherit file="menu.html"/>\
<%namespace file="fields.html" name="fields" import="*"/>\
<%def name="info()"><%include file="info.html"/></%def>\
\
<p>Вы действительно хотите взять себе на выполнение заявку № ${c.order.id}?</p>
<p>Если да, то выберите непосредственных исполнителей:</p>
${h.form(h.url_for(controller='order', action='take', id=request.urlvars['id']), method="post")}
<div>
% for performer in c.performers:
${h.checkbox('performers', value=performer[0], label=performer[1])}<br/>
% endfor
</div>

<tr><td colspan="2">${h.literal(u'<button type="button" class="backbutton">&lt; Не брать</button>')} &nbsp; ${h.submit(value=u"Взять >", name='submit')}</td></tr>
${h.end_form()}
\
${self.info()}

